<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action="/web2" method="post">
      <div>
        <h1>Register</h1>
        <p>Kindly fill in this form to register.</p>
        <label for="username"><b>Username</b></label>
        <input
          type="text"
          placeholder="Enter username"
          name="username"
          id="username"
          required
        />
        <br>

        <label for="email"><b>Email</b></label>
        <input
          type="text"
          placeholder="Enter Email"
          name="email"
          id="email"
          required
        />
        <br>

        <label for="pwd"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="pwd"
          id="pwd"
          required
        />
        <br>
        
        <!-- submit button -->
        <button type="submit">Register</button>
      </div>
       </form>
      <div>
      
      <a href="/viewlogin" >already have account click for login</a>
      
      </div>


</body>
</html>