<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action="/web2" method="get">
      <div>
        <h1>Login</h1>

        <label for="email"><b>Email</b></label>
        <input
          type="text"
          placeholder="Enter Email"
          name="email"
          id="email"
          required
        />
        <br>

        <label for="pwd"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="pwd"
          id="pwd"
          required
        />
        <br>
        
        <!-- submit button -->
        <button type="submit">Login</button>
      </div>
      <div>
      
      <a href="/viewRegister" >don't have account click for Register</a>
      
      </div>
 </form>

</body>
</html>